<!--The content below is only a placeholder and can be replaced.-->
<div class="center-container">
  <div class="menu-container">
    <div class="cooking-item">
      <label>鸡肉
        <input type="number" min="0" max="9" step="1"  [(ngModel)]="chickenWing"/>
      </label>
    </div>
    <div class="cooking-item">
      <span>牛肉</span>
      <input type="number" min="0" max="9" step="1"  [(ngModel)]="beef"/>
    </div>
    <div class="cooking-item">
      <span>酱油</span>
      <input type="number" min="0" max="9" step="1"  [(ngModel)]="soySauce"/>
    </div>
    <div class="cooking-item">
      <span>花椒</span>
      <input type="number" min="0" max="9" step="1" [(ngModel)]="spice1"/>
    </div>
    <div class="cooking-item">
      <span>大料</span>
      <input type="number" min="0" max="9" step="1" [(ngModel)]="spice2"/>
    </div>
    <div class="cooking-item">
      <span>西红柿</span>
      <input type="number" min="0" max="9" step="1" [(ngModel)]="tomato"/>
    </div>
    <div *ngIf="showResult">
      <p>你做出了 {{result}}</p>
    </div>
    <div class="selection-container">
      <button (click)="outputResult()">制作</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
